.container-logement-bars {
  display: flex;
  gap: 0 72px;
  
  @include laptop {
    flex-direction: column;
    gap: 60px 0;
  }
}

.logement-bar-left,
.logement-bar-right {
  position: relative;
  width: 44%;
  border-radius: 10px;
  padding: 10px 0 10px 10px;

  @include laptop {
    width: 94%;
    margin-left: -10px;
  }
}

.logement-bar-left {
  margin-left: -10px;
}

.logement-bar-right {
   
  @include laptop {
    margin-top: -40px;
    }
}


.equipements-list {
  margin-top: 10px;
}

.equipements-list li {
  margin-bottom: 4px;
}

