.container-logement {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

#logement {
    position: relative;
}

.carrousel-wrapper {
    padding: 0 50px;
}

.carrousel-container {
    position: relative;
    width: 100%;
    max-width: 962px;
    margin: 0 auto;
    padding: 20px 0;
}

.logement_carrousel {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

// Основные стили для стрелок
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: hidden;
  }
  

  .arrow:hover {
    transform: translateY(-50%) scale(1.2);
  }
  
  
  .arrow-left {
    left: 10px;
  }
  

  .arrow-right {
    right: 10px;
  }
  

.logement-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logement-menu {
    margin-left: 55px;
    margin-bottom: 246px;
}

.logement-items_title {
    color: $red;
    margin-top: -45px;
}

.logement-items_text {
    font-family: $font-main;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    margin-top: -45px;
}

.logement-other {
    display: flex;
    gap: 0 10px;
    margin: 24px 0;
}

.logement-bg {
    background-color: $red;
    padding: 3px 37px 2px 36px;
    border-radius: 10px;
    color: $white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.logement-bar_text {
    color: $white;
    font-family: $font-main;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.67px;

    user-select: none;
}

.logement-bar {
    position: relative;
    background-color: $red;
    width: 44%;
    border-radius: 10px;
    padding: 10px 0 10px 10px;
}

.icon-container-logement {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    padding-left: 5px;

    user-select: none;
}

.logement-description-content,
.equipments-description-content {
    position: absolute;
    max-width: 43%;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-size: 20px;
    padding: 10px;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  
    // Если блок открыт, добавляем анимацию и изменяем max-height
    &.open {
      max-height: 500px; // Установите значение, соответствующее высоте контента
      transition: max-height 0.4s ease-out;
      animation: slideDown 0.4s ease-out forwards;
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-28px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


  .equipements-list {
    margin-top: 10px;
  }

  .equipements-list li {
    margin-bottom: 4px;
  }

  .v-icon-logement {
    position: absolute;
    color: $white;
    width: 33px;
    height: 18px;
    cursor: pointer;
    top: 13px;
    right: 9px;
    transition: transform 0.4s ease-out; // Плавный переход для поворота
    display: flex;
    align-items: center; // Центрирование по вертикали
  
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 97%;
      background-color: $white; // Цвет для линий
    }
  
    &:before {
      left: 12px;
      transform: rotate(45deg); // Верхняя линия
    }
  
    &:after {
      right: 8px;
      transform: rotate(-45deg); // Нижняя линия
    }
  
    // Анимация для поворота иконки
    &.rotate {
      transform: rotate(-180deg); // Поворот на 180 градусов
    }
  }
  

// logement bloc droite

.logement-prenom-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
}

.logement-text {
    display: flex;
    font-family: $font-main;
    color: $red;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: right;
}

.logement-prenom {
    display: flex;
    align-items: center;
    margin-top: 17px;
    gap: 0 5px;
}

.logement-prenom img {
    margin-right: 60px;
}

.logement-rating {
    position: relative;
    display: flex;
    gap: 10px;
    top: 67px;
    right: 13px;
}

.icon-rating {
    color: $red;
    font-size: 21px;
}

.neutral-star {
    position: relative;
    color: $gray-star;
    font-size: 21px;

    &:before {
        content: '\f005';
        /* Unicode для звезды */
    }
}

.logement-bar-droite {
    position: relative;
    background-color: $red;
    width: 211%;
    border-radius: 10px;
    padding: 10px 0 10px 10px;
    right: 289px;
    top: 96px;
}