.container-logement {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;

    @include laptop {
      padding: 0 5px;
      }
}

#logement {
    position: relative;
    margin-bottom: 440px;
}

.carrousel-wrapper {
    padding: 0 50px;

    @include devices {
      padding: 0 20px;
      }
}

.carrousel-container {
    position: relative;
    width: 100%;
    max-width: 962px;
    margin: 0 auto;
    padding: 20px 0 10px 0;

    @include devices {
      padding: 0;
      }
}

.logement_carrousel {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;

    @include devices {
      height: 255px;
      }
}

// Основные стили для стрелок
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: hidden;
  }
  

  .arrow:hover {
    transform: translateY(-50%) scale(1.2);
  }
  
  
  .arrow-left {
    left: 10px;
  }
  

  .arrow-right {
    right: 10px;
  }
  

.logement-items {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-bottom: 10px;

    @include devices {
      width: 95%;
      }
}

.logement-menu {
    margin-left: 55px;
    margin-bottom: 50px;

    @include devices {
      margin-left: 20px;
      margin-bottom: 27px;
      }
}

.logement-items_title {
    color: $red;
}

.logement-items_text {
    font-family: $font-main;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;

    @include devices {
      padding-bottom: 10px;
      }
}

.logement-tags {
    display: flex;
    gap: 0 10px;
    margin: 24px 0;

    @include laptop {
      margin: 25px 0 0;
     }

     @include tablet {
      margin: 10px 0 0;
     }
}

.logement-bg {
    background-color: $red;
    padding: 3px 37px 2px 36px;
    border-radius: 10px;
    color: $white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;

    @include tablet {
      padding: 3px 22px 2px 23px;
      font-size: 10px;
     }
}

  @keyframes slideDown {
    0% {
      transform: translateY(-28px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .slide-with-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .carrousel-counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 25px 10px;
    height: 32px;

    font-size: 25px;
  }
  

// logement bloc droite

.logement-prenom-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
}

.logement-text {
    display: flex;
    font-family: $font-main;
    color: $red;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: right;

    @include laptop {
      font-size: 16px;
      }
}

.logement-prenom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -80px;
    gap: 0 5px;

    @include laptop {
      position: relative;
      top: 94px;
      margin-bottom: 7px;
     }

     @include laptop {
      position: relative;
      top: 94px;
      margin-bottom: 7px;
     }
}

.logement-prenom_text {
  width: 100px;
  @include laptop {
    width: 80px;
    }
}

.logement-prenom img {
    margin-right: 60px;

    @include laptop {
      width: 50px;
      margin-right: 42px;
      }
}

.logement-rating {
    display: flex;
    gap: 10px;
    padding: 0px 60px 3px 0;

    @include laptop {
      position: static;
      display: flex;
      margin: 30px 0 20px 0;
     }
}

.logement-other {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include laptop {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial; 
   }
}

.icon-rating {
    color: $red;
    font-size: 21px;

    @include laptop {
     font-size: 16px;
     }
}

.neutral-star {
    position: relative;
    color: $gray-star;
    font-size: 21px;

    &:before {
        content: '\f005';
    }
}