h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 68.45px;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
}

h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34.22px;
}

h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.67px;
}

.Titre-de-la-location {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.67px;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

i {
  display: block;
  cursor: pointer;
}

ul li,
ol li {
  list-style-type: none;
}

button {
  display: block;
  border: none;
  color: inherit;
  background-color: transparent;
  background-color: inherit;
  transition: 3s;
  cursor: pointer;
}

img {
  display: block;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

.header {
  padding: 30px 100px;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 30px 20px;
  }
}

.header_inner {
  display: flex;
  justify-content: space-between;
}

.header_img {
  width: 170px;
}
@media screen and (max-width: 768px) {
  .header_img {
    width: 130px;
  }
}

.header_list {
  display: flex;
  gap: 0 60px;
}
@media screen and (max-width: 768px) {
  .header_list {
    gap: 0 30px;
  }
}

.header_link {
  display: block;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
}
@media screen and (max-width: 768px) {
  .header_link {
    font-size: 18px;
  }
}
.header_link:active, .header_link:focus {
  border-bottom: 2px solid black;
}

.Titre-de-la-location {
  padding: 0 20px;
  margin: 0 auto;
}

.title-chez-vous {
  width: 100%;
  color: #FFFFFF;
  height: 223px;
  background-image: url(../assets/image/header_img2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  margin-bottom: 43px;
}
@media screen and (max-width: 1024px) {
  .title-chez-vous {
    margin-top: -20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 375px) {
  .title-chez-vous {
    margin-bottom: 0;
  }
}

.title-chez-vous h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-top: 75px;
}
@media screen and (max-width: 485px) {
  .title-chez-vous h1 {
    padding: 80px 0 30px 20px;
    width: 240px;
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }
}

.location_wrapper {
  background-color: #F6F6F6;
  border-radius: 25px;
  padding: 45px 30px 45px 45px;
  margin-bottom: 43px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 50px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .location_wrapper {
    gap: 30px;
    padding: 25px 5px 25px 17px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 525px) {
  .location_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 375px) {
  .location_wrapper {
    background-color: transparent;
    grid-template-columns: 1fr;
    gap: 20px 0;
  }
}

.location-inner {
  display: flex;
  justify-content: space-around;
  gap: 0 60px;
  width: 90%;
}

.location_block {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 95%;
  height: 340px;
  border-radius: 25px;
  background-color: #FF6060;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .location_block {
    height: 255px;
  }
}
.location_block:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  border: 4px solid rgba(255, 255, 255, 0.7);
}
.location_block:hover .location_text {
  transform: scale(1.1);
  font-size: 1.08em;
}

.location_block:nth-last-child(2) {
  grid-column: 1;
}

.location_block:nth-last-child(1) {
  grid-column: 2;
}

.location_text {
  color: #FFFFFF;
  padding: 0 20px 20px 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease, font-size 0.3s ease;
}

.location_image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  padding: 60px 0 30px 0;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-height: auto;
}

.footer svg {
  margin: 0 auto;
  margin-bottom: 30px;
}

.footer_text {
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .footer_text {
    text-align: center;
    width: 130px;
    margin: 0 auto;
  }
}

.propos {
  padding: 0 100px;
}
@media screen and (max-width: 768px) {
  .propos {
    padding: 0 20px;
  }
}

.propos_img {
  width: 100%;
  color: #FFFFFF;
  height: 223px;
  background-image: url(../assets/image/Section_propos.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.propos-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 38px 0;
  gap: 30px 0;
  margin-bottom: 539px;
}
@media screen and (max-width: 768px) {
  .propos-menu {
    padding: 20px 0;
    gap: 20px 0;
  }
}

.propos_block h5 {
  padding: 10px 0 8px 15px;
}

.propos_block {
  position: relative;
  background-color: #FF6060;
  color: #FFFFFF;
  width: 82%;
  border-radius: 5px;
  overflow: hidden;
  transition: margin-bottom 0.3s ease;
}
@media screen and (max-width: 768px) {
  .propos_block {
    width: 100%;
  }
}
.propos_block .content-container {
  position: relative;
  background-color: hsl(0, 11%, 98%);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in, opacity 0.4s ease-in, transform 0.4s ease-in;
}
.propos_block .content-container.open {
  max-height: 1000px;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out, transform 0.5s ease-out;
}
.propos_block .content {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 22px;
  padding: 10px;
  opacity: 0;
  transform: translateY(-20px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.propos_block .content.visible {
  opacity: 1;
  transform: translateY(0);
}
.propos_block .icon-container {
  position: absolute;
  top: 17px;
  right: 24px;
  cursor: pointer;
}
.propos_block .icon-container .v-icon {
  height: 17px;
  position: relative;
  transition: transform 0.3s ease;
}
.propos_block .icon-container .v-icon:before, .propos_block .icon-container .v-icon:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #FFFFFF;
  top: 0;
}
.propos_block .icon-container .v-icon:before {
  right: 8px;
  transform: rotate(45deg);
}
.propos_block .icon-container .v-icon:after {
  right: -3px;
  transform: rotate(-45deg);
}
.propos_block .icon-container.open .v-icon {
  transform: rotate(-180deg);
}

.error {
  margin: 140px 0;
  text-align: center;
  margin-bottom: 379px;
}

.error_img {
  margin: 0 auto;
  width: 50%;
  height: 260px;
}

.error_title {
  color: #FF6060;
  margin: 140px 0;
  width: 100%;
}

.error_link {
  display: inline-block;
  border-bottom: 1px solid black;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
}

.container-logement {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .container-logement {
    padding: 0 5px;
  }
}

#logement {
  position: relative;
  margin-bottom: 440px;
}

.carrousel-wrapper {
  padding: 0 50px;
}
@media screen and (max-width: 525px) {
  .carrousel-wrapper {
    padding: 0 20px;
  }
}

.carrousel-container {
  position: relative;
  width: 100%;
  max-width: 962px;
  margin: 0 auto;
  padding: 20px 0 10px 0;
}
@media screen and (max-width: 525px) {
  .carrousel-container {
    padding: 0;
  }
}

.logement_carrousel {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
@media screen and (max-width: 525px) {
  .logement_carrousel {
    height: 255px;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.arrow:hover {
  transform: translateY(-50%) scale(1.2);
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.logement-items {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-bottom: 10px;
}
@media screen and (max-width: 525px) {
  .logement-items {
    width: 95%;
  }
}

.logement-menu {
  margin-left: 55px;
  margin-bottom: 50px;
}
@media screen and (max-width: 525px) {
  .logement-menu {
    margin-left: 20px;
    margin-bottom: 27px;
  }
}

.logement-items_title {
  color: #FF6060;
}

.logement-items_text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
}
@media screen and (max-width: 525px) {
  .logement-items_text {
    padding-bottom: 10px;
  }
}

.logement-tags {
  display: flex;
  gap: 0 10px;
  margin: 24px 0;
}
@media screen and (max-width: 1024px) {
  .logement-tags {
    margin: 25px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .logement-tags {
    margin: 10px 0 0;
  }
}

.logement-bg {
  background-color: #FF6060;
  padding: 3px 37px 2px 36px;
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .logement-bg {
    padding: 3px 22px 2px 23px;
    font-size: 10px;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-28px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-with-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.carrousel-counter {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 25px 10px;
  height: 32px;
  font-size: 25px;
}

.logement-prenom-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
}

.logement-text {
  display: flex;
  font-family: "Montserrat", sans-serif;
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: right;
}
@media screen and (max-width: 1024px) {
  .logement-text {
    font-size: 16px;
  }
}

.logement-prenom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -80px;
  gap: 0 5px;
}
@media screen and (max-width: 1024px) {
  .logement-prenom {
    position: relative;
    top: 94px;
    margin-bottom: 7px;
  }
}
@media screen and (max-width: 1024px) {
  .logement-prenom {
    position: relative;
    top: 94px;
    margin-bottom: 7px;
  }
}

.logement-prenom_text {
  width: 100px;
}
@media screen and (max-width: 1024px) {
  .logement-prenom_text {
    width: 80px;
  }
}

.logement-prenom img {
  margin-right: 60px;
}
@media screen and (max-width: 1024px) {
  .logement-prenom img {
    width: 50px;
    margin-right: 42px;
  }
}

.logement-rating {
  display: flex;
  gap: 10px;
  padding: 0px 60px 3px 0;
}
@media screen and (max-width: 1024px) {
  .logement-rating {
    position: static;
    display: flex;
    margin: 30px 0 20px 0;
  }
}

.logement-other {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .logement-other {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
  }
}

.icon-rating {
  color: #FF6060;
  font-size: 21px;
}
@media screen and (max-width: 1024px) {
  .icon-rating {
    font-size: 16px;
  }
}

.neutral-star {
  position: relative;
  color: #E3E3E3;
  font-size: 21px;
}
.neutral-star:before {
  content: "\f005";
}

.header-logement {
  padding: 30px 58px;
}
@media screen and (max-width: 525px) {
  .header-logement {
    padding: 20px 20px;
  }
}

.header-logement_img {
  width: 170px;
}
@media screen and (max-width: 525px) {
  .header-logement_img {
    width: 145px;
    height: 46.88px;
  }
}

.logement-bar_text {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.67px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.logement-bar-left {
  position: relative;
  background-color: #FF6060;
  width: 44%;
  border-radius: 10px;
  padding: 10px 0 10px 10px;
}
@media screen and (max-width: 1024px) {
  .logement-bar-left {
    width: 94%;
  }
}

.icon-container-logement-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  padding-left: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.description-left-content,
.equipments-right-content {
  position: absolute;
  max-width: 43%;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 20px;
  padding: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
@media screen and (max-width: 1024px) {
  .description-left-content,
  .equipments-right-content {
    max-width: 90%;
  }
}
.description-left-content.open,
.equipments-right-content.open {
  max-height: 300px;
  transition: max-height 0.4s ease-out;
  animation: slideDown 0.4s ease-out forwards;
}

@media screen and (max-width: 1024px) {
  .logement-bar-right.shifted {
    margin-top: 210px;
  }
}
@media screen and (max-width: 375px) {
  .logement-bar-right.shifted {
    margin-top: 257px;
  }
}

.logement-content {
  position: relative;
  transition: margin-top 0.4s ease-out;
}

.logement-content.open-description {
  margin-bottom: 220px;
}
@media screen and (max-width: 1024px) {
  .logement-content.open-description {
    margin-bottom: 0;
  }
}

.logement-content.open-equipments {
  margin-bottom: 280px;
}

.logement-bar-right {
  position: relative;
  background-color: #FF6060;
  width: 44%;
  border-radius: 10px;
  padding: 10px 0 10px 10px;
  right: -513px;
  top: -46px;
}
@media screen and (max-width: 1024px) {
  .logement-bar-right {
    margin-top: 20px;
    width: 94%;
    right: 0px;
    top: 3px;
  }
}

.equipements-list {
  margin-top: 10px;
}

.equipements-list li {
  margin-bottom: 4px;
}

.v-icon-logement {
  position: absolute;
  color: #FFFFFF;
  width: 33px;
  height: 18px;
  cursor: pointer;
  top: 13px;
  right: 9px;
  transition: transform 0.4s ease-out;
  display: flex;
  align-items: center;
}
.v-icon-logement:before, .v-icon-logement:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 97%;
  background-color: #FFFFFF;
}
.v-icon-logement:before {
  left: 12px;
  transform: rotate(45deg);
}
.v-icon-logement:after {
  right: 8px;
  transform: rotate(-45deg);
}
.v-icon-logement.rotate {
  transform: rotate(-180deg);
}