.propos-menu {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding: 38px 0;
   gap: 30px 0;
   margin-bottom: 250px;
}

.propos_block h5 {
    padding: 10px 0 8px 15px;
}

.propos_block {
  position: relative;
  background-color: $red; /* Красный фон для блока */
  color: $white; /* Цвет текста белый */
  width: 82%;
  border-radius: 5px;
  overflow: hidden; /* Скрывает содержимое за пределами блока */
  transition: margin-bottom 0.3s ease;

  .content-container {
    position: relative;
    background-color: $white; /* Белый фон для раскрывающегося содержимого */
    max-height: 0; /* Начальная высота для скрытия содержимого */
    overflow: hidden; /* Скрывает переполнение */
    // transition: max-height 0.9s ease, opacity 0.9s ease, transform 0.9s ease;
    transition: max-height 0.4s ease-in, opacity 0.4s ease-in, transform 0.4s ease-in;
    
    &.open {
      max-height: 1000px; /* Достаточно большая высота для содержимого */
      transition: max-height 0.5s ease-out, opacity 0.5s ease-out, transform 0.5s ease-out;
    }
  }

  .content {
    font-family: $font-main; /* Замените на ваш шрифт */
    color: $dark; /* Цвет текста */
    font-size: 22px;
    padding: 10px; /* Отступы */
    opacity: 0; /* Начальная непрозрачность */
    transform: translateY(-20px); /* Начальное смещение вверх */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Анимации для свойств */
    
    &.visible {
      opacity: 1; /* Текст становится видимым */
      transform: translateY(0); /* Текст смещается на своё место */
    }
  }



  .icon-container {
    position: absolute; // Абсолютное позиционирование
    top: 17px; // Отступ от верхнего края
    right: 20px; // Отступ от правого края
    cursor: pointer;
  
    .v-icon {
      width: 28px;
      height: 17px;
      position: relative; // Позиционирование иконки относительно контейнера
      transition: transform 0.3s ease;
  
      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: $white;
        top: 0;
      }
  
      &:before {
        left: 14px;
        transform: rotate(45deg); // Верхняя линия иконки
      }
  
      &:after {
        right: 1px;
        transform: rotate(-45deg); // Нижняя линия иконки
      }
    }
  
    // Когда блок открыт
    &.open .v-icon {
      transform: rotate(-180deg); // Поворот на 90 градусов против часовой стрелки
    }
  }
}  








  