.error {
    margin: 140px 0;
    text-align: center;
}

.error_img {
    margin: 0 auto;
    width: 50%;
    height: 260px;
}

.error_title {
    color: $red;
    margin: 140px 0;
    width: 100%;
}

.error_link {
    display: inline-block;
    border-bottom: 1px solid black;
    color: $dark;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
}