/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}
/* Links */

a, a:link, a:visited  {
    text-decoration: none;
	cursor: pointer;
}

a:hover  {
    text-decoration: none;
}

i {
	display: block;
	cursor: pointer;
}

ul li,
ol li {
    list-style-type: none;
}

button {
    display: block;
    border: none;
    color: inherit;
    background-color: transparent;
    background-color: inherit;
    transition: 3s;
    cursor: pointer;
}

img {
	display: block;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}