//Fonts
$font-main: 'Montserrat', sans-serif;

// Colors
$red: #FF6060;
$dark: #000000;
$white: #FFFFFF;
$gray: #C4C4C4;
$bg-white-gray: #F6F6F6;
$gray-star:#E3E3E3;

// Media
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$devices: 525px;
$smalldevices: 485px;
$mobile: 375px;

