.location_wrapper {
  background-color: $bg-white-gray;
  border-radius: 25px;
  padding: 45px 30px 45px 45px;
  margin-bottom: 43px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 50px;
  width: 100%;

  @include laptop {
    gap: 30px;
    padding: 25px 5px 25px 17px;
    grid-template-columns: repeat(3, 1fr);
  }

  @include devices {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile {
    background-color: transparent;
    grid-template-columns: 1fr;
    gap:20px 0;
  }
}

.location-inner {
  display: flex;
  justify-content: space-around;
  gap: 0 60px;
  width: 90%;
}

.location_block {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 95%;
  height: 340px;
  border-radius: 25px;
  background-color: $red;
  transition: box-shadow 0.3s ease, border 0.3s ease;

  @include laptop {
    height: 255px;
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    border: 4px solid rgba(255, 255, 255, 0.7);

    .location_text {
      transform: scale(1.1);
      font-size: 1.08em;
    }
  }
}

.location_block:nth-last-child(2) {
  grid-column: 1;
}

.location_block:nth-last-child(1) {
  grid-column: 2;
}

.location_text {
  color: $white; 
  padding: 0 20px 20px 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease, font-size 0.3s ease;
}

.location_image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}


