.header {
    padding: 30px 100px;

    @include tablet {
        padding: 30px 20px;
    }
}

.header_inner {
    display: flex;
    justify-content: space-between;
}

.header_img {
    width: 170px;

    @include tablet {
       width: 130px;
    }
}

.header_list {
    display: flex;
    gap: 0 60px;

    @include tablet {
        gap: 0 30px;
    }
}

.header_link {
    display: block;
    color: $dark;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;

    @include tablet {
      font-size: 18px;
    }

    &:active,
    &:focus {
        border-bottom: 2px solid black;
    }
}